.root
    width 100%
    height 100%
    background red
    padding 2u

.logo
  justify-content center
  width 100%
  height 80px

.menuItem
    color #fff
    margin-top 4u
    &.first
        margin-top 0

.social
    background #fff
    border-color #fff
    width 3u
    height 3u
    padding 2u

.sidebar
    margin-top 6u

.socialContainer
    margin-top 6u