.root
    background-color #fff
    padding 2u
    +wide()
        flex-direction row

.id
    border 1px solid #989898
    border-radius 100%
    height 5u
    width 5u
    padding 1u
    box-sizing border-box
    justify-content center
    align-items center
    +wide()
        height 8u
        flex 0 0 8u
        border-width 2px

.idText
    text-align center
    color #989898
    font-size 3u

.body
    margin-top 2u
    +wide()
        flex 1
        margin-top 0
        margin-left 2u

.title
    text-transform uppercase

.red
    color #D11B1E

.subtitle
    margin-top 2u
.description
    margin-top 3u
.buttons
    margin-top 3u