.root
    width 100%
    align-items center
    padding 2u
    background-color #DDDDDD

.header
    width 100%
    height 100px
    padding 4u 10u 2u
    box-sizing border-box
    background-color #FFFFFF
    display flex
    justify-content center
    align-items center

.headerImage
    flex 1
    height 100%
    width 100%
    background-image url('/img/make-love-text.svg')
    background-size contain
    background-position 50% 0
    background-repeat no-repeat
    display flex
    justify-content center
    flex-direction row
    align-items flex-end

.headerText
    font-size 1.5u
    font-weight bold

.navBar
    justify-content space-between
    align-items center
    padding 4u 2u
    background-color #EFEFEF

.navElem
    align-items center
    margin-left 2u
    &.first
        margin-left 0
    flex 0 0
    flex-basis calc(33% - 2u)
    //padding 0 1u

.navText
    text-transform uppercase
    font-weight 200
    font-size 1.9u
    margin-top 1u
    text-align center

.body
  flex 1


.bold
    font-weight 800

.red
    color #D80514

.gray
    color #7A7A7A

.title
    line-height 4u

.split
    width 6u
    border-bottom 1px solid #D5D5D5 
    margin-top 3u
    margin-bottom 4u

.subContainer
    width 100%
    align-items center
    margin-top 6u
    &.first
        margin-top 0

.date
    background #fff
    padding 1u
    align-items center

.info
    margin-left 2u
    flex 1

.eventCard
    width 100%
    margin-top 2u
    align-self flex-start
    border-bottom 1px solid #D5D5D5 
    padding-bottom 4u
    &.first
        margin-top 0
.hotelImage
    width 6u
    height 6u