.root
    width 100%
    align-items center
    padding 2u

.bold
    font-weight 800

.red
    color #D80514

.gray
    color #7A7A7A

.title
    line-height 3u

.split
    width 6u
    border-bottom 1px solid #D5D5D5 
    margin-top 3u
    margin-bottom 4u

.subContainer
    width 100%
    align-items center
    margin-top 6u
    &.first
        margin-top 0

.date
    background #fff
    padding 1u
    align-items center

.info
    margin-left 2u
    flex 1

.eventCard
    width 100%
    margin-top 2u
    align-self flex-start
    border-bottom 1px solid #D5D5D5 
    padding-bottom 4u
    &.first
        margin-top 0
.hotelImage
    width 6u
    height 6u