.root
    align-items center
    padding 2u
    background-color #EFEFEF
    border-bottom 2px solid #E8E8E8

.body
    flex 1
    margin-left 2u

.topBlock
    flex 1
    justify-content space-between
    align-items center

.removeButton
    margin-left 1u

.date, .message
    margin-top 2u

.red
    color #D11B1E