.root
    background-color rgb(239, 239, 239)
    align-items:  center
    padding 0 2u
    overflow-x scroll

.buttonContainer
    height 8u
    justify-content center
    align-items center

.arrow
    display none
    &.active
        display flex
        width 0px
        height 0px
        border-left 1u solid transparent
        border-right 1u solid transparent
        border-bottom 1u solid #fff
        position absolute
        bottom 0