.root
  padding 2u 0
  flex 1

.eventBar
  display none
  +wide()
    display flex
    flex 1

.main
  flex 1
  +wide()
    flex 2

.title
  letter-spacing 2u
  color #fff
  font-size 5u

.wrapper
  flex 1
  flex-direction row
  margin-top 4u